:root {
    /* colors */
    --color-text : #fff;
    --color-primary : #f7bf8e;
    --color-secondary : #CCBEB1;
    --color-dark : #664C36;
    --color-bg : #331C08;


    /* Fonts */
    --font-roboto: "Roboto";
    
}